.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.headbar {
    height: 100vh;
    background-color: #4C956C;
}

.info {
    height: 300vh;
    background-color: #FFC9B9;
}