.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #FFFFFF;
}

.headbar {
    display: flex;
    justify-content: space-between;
    height: 10vh;
    background-color: #32533D;
    color: #FEFEE3;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    width: 100%;
}
.leftbar {
    color: #FEFEE3;
    background-color: #4a7157;
    font-size: 12px;
    flex-wrap: wrap;
    align-content: center;
    padding: 10px;
}

.info {
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 100;
    background-color: #FFFFFF;
}

.info h1 {
    color: #820933;
    position: relative;
    top: 25vh;
    left: 20vh;
    width: 100%;
    font-size: 45px;;
}
.info p {
    position: relative;
    top: 22vh;
    left: 21vh;
}

.input_container {
    height: 160vh;
    background-color: #e3dac9;
}

.input {
    display: flex;
    flex-direction: column;
}
.inputhead {
    position: relative;
    top: 10vh;
    left: 20vh;
    background-color: #4a7157;
    color: #FFFFFF;
    height: 20vh;
    width: 35vh;
}

.inputfield {
    position: relative;
    top: 10vh;
    left: 20vh;
    background-color: #FFFFFF;
    height: 70vh;
    width: 35vh;
}