* {
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    position: relative;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #FFFFFF;
}

.headbar {
    display: flex;
    justify-content: space-between;
    height: 10vh;
    background-color: #32533D;
    color: #FEFEE3;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    width: 100%;
}
.headbar h1 {
    margin-left: 5vh;
}
.leftbar {
    color: #FEFEE3;
    background-color: #4a7157;
    font-size: 12px;
    flex-wrap: wrap;
    align-content: center;
    padding: 10px;
}

.info {
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 100%;
    background-color: #FFFFFF;
}

.info h1 {
    color: #820933;
    position: relative;
    top: 25vh;
    left: 20vh;
    width: 100%;
    font-size: 45px;;
}
.info p {
    position: relative;
    top: 22vh;
    left: 21vh;
}

.inputresults {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 160vh;
    background-color: #e3dac9;
}

.input_container {
    flex: 1 1 40%;
}

.input {
    display: flex;
    flex-direction: column;
}
.inputhead {
    position: relative;
    top: 10vh;
    left: 20vh;
    background-color: #4a7157;
    color: #FFFFFF;
    height: 20vh;
    width: 45%;
}
.inputhead h3 {
    margin-left: 4vh;
    text-align: left;
    padding: 5px 0;
}
.inputhead button {
    margin-left: 4vh;
    text-align: center;
    padding: 5px 0;
    width: 8vh;
    padding: 3%;
}

.inputfield {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 45%;
    position: relative;
    left: 20vh;
    top: 10vh;
    background-color: #FFFFFF;
}

.inputfield form {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 80vh;
    padding: 30px;
}

.results {
    display: flexbox;
    flex-direction: column;
    align-content: space-around;
    height: 30vh;
    width: 40%;
    position: relative;
    top: 3vh;
    flex: 11 60%;
}
.layer1 {
    background-color: #FEFEE3;
}
.layer2 {
    background-color: #FEFEE3;
}
.layer3 {
    background-color: #FEFEE3;
}

.interpretbox {
    display: flex;
    flex-direction: column;
    background-color: #7e7f9a;
    position: relative;
    left: 20vh;
    color: #FFFFFF;
    width: 80%;
    height: 40vh;
    margin-top: -20vh;
    text-align: left;
}
.interpretbox h3 {
    font-size: 4vh;
    margin-left: 5vh;
    margin-top: 5vh;
}
.interpretbox p {
    margin-left: 5vh;
    margin-top: 5vh;
}