<!DOCTYPE html>
<html lang="en">
<body>

    <div class='headbar'>
        <head>
            <link rel="stylesheet" href="{{ url_for('static', filename='main.css')}}">
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>CSDS: WIL Project</title>
        </head>

        <h1> CSDS: Financial Predictor</h1>
    </div>

    <div class="container">

        <div class='info'>
                <head>
                    <h1>Take Control of Your Credit</h1>
                    <div class="info-box">
                        <p>This is the description of the model and how to use it.</p>
                    </div>
                </head>
        </div>

        <div class="contributors">
            <h3>Contributors</h3>
        <p>Nam Duong <br> Vince Quach <br> Arjun Prasad <br> Hannah Mac <br> Neda Nikkhah Bahrami</p>
        </div>
        
        <div class='input_container'>

        </div>

    </div>
</body>

</html>