<!DOCTYPE html>
<html lang="en">
<body>

    <div class='headbar'>
        <head>
            <link rel="stylesheet" href="{{ url_for('static', filename='main.css')}}">
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>CSDS: WIL Project</title>
        </head>

        <h1>Financial Predictor</h1>

        <div class="leftbar">
            <h3>Case Studies<br>in Data Science</h3>
        </div>
    </div>

    <div class="container">

        <div class='info'>
                <head>
                    <h1>Understanding Your Credit</h1>
                        <p>This Multilayer Perceptron Neural Network Model is designed to help you understand how financial institutions may assess your credit eligibility. It evaluates key financial factors to predict whether you are likely to be considered a good or bad credit risk by lenders.<br><br>
                            Input Your Data: You’ll need to provide key financial information for the model to evaluate.<br><br>
                            
                            View Your Eligibility: The model will analyze your data and give you a prediction on whether you may be classified as a good or bad credit risk.<br><br>
                            
                            Understand the Factors: The model will highlight which financial factors impact your score, helping you understand where to focus to improve your chances of approval.</p>
                </head>
        </div>
        
    <div class="inputresults">
        <div class='input_container'>
            <form action = "{{ url_for('main') }}" method = "POST">
            <div class='input'>
                <div class='inputhead'>
                    <h3>Input your parameters<br>to get started</h3>

                    <div class="run">
                        <button type="submit" class="btn btn-primary">Run</button>
                    </div>
                </div>

                    <div class="inputfield">

                        <label for="feat1">Risk Estimate</label><br><input type="number" id="feat1" name="feat1" required max="100" value="{{ feat1 | default(72) }}"><br>
                        <label for="feat2">NetFractionRevolvingBurden</label><br><input type="number" id="feat2" name="feat2" required max="150" value="{{ feat2 | default(43) }}"><br>
                        <label for="feat3">AverageMinFile</label><br><input type="number" id="feat3" name="feat3" required max="200" value="{{ feat3 | default(53) }}"><br>
                        <label for="feat4">PercentInstallTrades</label><br><input type="number" id="feat4" name="feat4" required max="100" value="{{ feat4 | default(27) }}"><br>
                        <label for="feat5">NumSatisfactoryTrades</label><br><input type="number" id="feat5" name="feat5" required max="100" value="{{ feat5 | default(29) }}"><br>
                    
                    </div>
                </div>
            </form>
        </div> 
            <div class="results">
                    <div class="prediction">
                        <p>You have been assessed to have:</p>
                        <h3>{{prediction}}</h3>
                    </div>

                    <div class="layer1">
                        <h3>Layer 1</h3>
                        <div class="inner">
                            {{layer1_import | safe}}
                            <div class="confidence">
                                <p>Model Confidence</p>
                                <h3>{{confidence1}}%</h3>
                            </div>
                            <div class="localpred">
                                <p>Local Prediction</p>
                                <h3>{{localpred1}}</h3>
                            </div>
                        </div>
                    </div>

                    <div class="layer2">
                        <h3>Layer 2</h3>

                        <div class="inner">
                            {{layer2_import | safe}}
                            <div class="confidence">
                                <p>Model Confidence</p>
                                <h3>{{confidence2}}%</h3>
                            </div>
                            <div class="localpred">
                                <p>Local Prediction</p>
                                <h3>{{localpred2}}</h3>
                            </div>
                        </div>

                    </div>

                    <div class="output">
                        <h3>Output</h3>
                        
                        <div class="inner">
                            {{output_import | safe}}
                            <div class="confidence">
                                <p>Model Confidence</p>
                                <h3>{{confidenceout}}%</h3>
                            </div>
                            <div class="localpred">
                                <p>Local Prediction</p>
                                <h3>{{localpredout}}</h3>
                            </div>
                        </div>

                    </div>
            </div>
        </div>

        <div class="interpretbox">

            <h3>Understanding your results</h3>
                <p>
                    <strong>Credit Risk Prediction:</strong><br>
                    Based on your input, the model predicts whether you're a good or bad credit risk.<br><br>
                    
                    <strong>Model Confidence:</strong><br>
                    The confidence score shows how sure the model is about its prediction. Higher percentages mean greater confidence.<br><br>
                    
                    <strong>Feature Importance:</strong><br>
                    Each layer of the model processes your data to highlight key factors influencing the prediction. Negative feature importances indicate that those features reduce the likelihood of being classified as a good credit risk, highlighting factors that may increase the risk of being considered a bad credit risk:<br>
                    - <em>Layer 1:</em> Focuses on your raw data inputs.<br>
                    - <em>Layer 2:</em> Refines patterns and interactions between factors.<br>
                    - <em>Output Layer:</em> Combines all insights for the final decision.<br><br>

                    <strong>Local Prediction:</strong><br>
                    This shows how your data influences the model at each layer. Positive values indicate a prediction for good credit risk, while negative values suggest bad credit risk:<br>
                    - <em>Layer 1:</em> Highlights important raw data.<br>
                    - <em>Layer 2:</em> Combines data points to refine the prediction.<br>
                    - <em>Output Layer:</em> Makes the final decision.<br><br>

                    <strong>Important:</strong><br>
                    The local prediction at the output layer may differ from the overall prediction shown at the top. This is because the overall prediction considers the combined impact of all layers and the model's decision-making process, while the local prediction focuses on specific factors at the output layer.
                </p>
        </div>

        <div class="contributors">
            <h3>Contributors</h3>
            <p>Nam Duong    |   Vince Quach     |    Arjun Prasad   |   Hannah Mac  |   Neda Nikkhah Bahrami</p>
        </div>

    </div>

    <div class="footer">

    </div>
</body>

</html>