<!DOCTYPE html>
<html lang="en">
<body>
    <div>
        <head></head>

    
    </div>
    <div>
        <h1> Testing Document to test some simple code</h1>
        <br>
        <p> Enter two numbers below to determine if they sum to an odd or even number.</p>
    </div>

    <div class = 'form'>
        <div class = 'options'>
            <form action = "{{ url_for('test') }}" method = "POST">

                <label for = 'number1'> Number 1 </label> <input type = 'number' id = 'number1' name = 'number1'>
                <label for = 'number2'> Number 2 </label> <input type = 'number' id = 'number2' name = 'number2'>

                <button type = 'submit' class = 'btn-primary'> Submit </button>
            </form>

            {% if result %}
                <h2> {{ result }} </h2>
            {% endif %}
        </div>


    </div>
</body>